<h1>League#player_history</h1>
<p>Find me in app/views/league/player_history.html.erb</p>


Currently no history. As seasons progress, player history can be accessed through here. <i>Note: Player history will only be in the following format. Seasons played in the past, final league standing. awards in a list </i> 
