<h1>League#schedule</h1>
<p>Find me in app/views/league/schedule.html.erb</p>


This page contains round details and the duration when the round is taking place. jquery the rounds view to hide and show based on user input. default at current round. 

rounds table will also have match results for all matches in the league. 
