<!--This page will contain the actions the users can do: 

List Of Actions:
	Submit the scores for their current Match.
	Request Modification of Submitted Scores (opens view where they can choose which match they want to modify, and email admin and stuff)-->
	
	<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Matches List</h3>
  </div>
  <div class="panel-body">
		<div class="row col-md-10 col-md-offset-1">
			<table class="table">
					<thead>
						<tr>
							<th>Match</th>
							<th>Round</th>
						</tr>
					</thead>
					<tbody>
						<% @players_matches.each do |match| %>
							<tr>
								<td><%= link_to match.match_players, match_show_path(:id => match.id) %></td>
								<td><%= match.round_name %></td>
							</tr>
						<% end %>
					</tbody>
			</table>
		</div>
  </div>
</div>
