<link href="/assets/home1.css" media="all" rel="stylesheet">
<div class="jumbotron squash-court">
	<h1>Squash League</h1>
	<p></p>
</div>


Welcome to the Squash League beta.


New features soon to be added: 

<ul>
	<li>Player profiles and bio</li>
	<li>Automated emails with weekly league updates and fixtures</li>
	<li>Weekly News (on this page)</li>
</ul>


<!--
This page will contain recent highlights for current week. Match Scores, Winners, etc.

"Squash League" becomes home view. Need to set up css to allow it to be coloured when it's in current view like the rest of the nav bar links. -->
