<!-- Main component for a primary marketing message or call to action -->

<div class="jumbotron">
	<h1>Home#index</h1>
	<p>Find me in app/views/home/index.html.erb</p>
</div>




This page will contain recent highlights for current week. Match Scores, Winners, etc.

"Squash League" becomes home view. Need to set up css to allow it to be coloured when it's in current view like the rest of the nav bar links.
