<link href="/assets/home1.css" media="all" rel="stylesheet">
<div class="jumbotron squash-court">
	<h1>Squash League .beta</h1>
	<p></p>
</div>

<h3>Recent News</h3>
<% @posts.each do |post| %>
<div class="news-block">
	<div class="row">
		<div class="col-md-12">
			<h4><%= post.title %> <small style="margin-left: 20px;"><%= post.created_at.in_time_zone("Eastern Time (US & Canada)").strftime("%b %d, %Y")%></small></h4>
		</div>
	</div>
	<div class="col-md-12">
		<p><%= post.content %></p>
	</div>
</div>
<% end %>

